*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(208, 230, 250);
    position: fixed;
    top:0;
    width:100%;
    z-index:999;
    height:65px;
    line-height:65px;
}
nav .wrapper{
    display: flex;
    max-width: 1250;
    padding:0 30px;
    margin:auto;
    justify-content: space-between;
}
.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding:9px 15px;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links li a:hover {
    font-size: 20px;
    color:blue
}
.container{
    display: flex;
}
.container .logo img {
    width:60px;
    height:60px;
    border-radius: 50%;
}
.container .text{
    font-size: 25px;
    margin-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links .buy{
    background-color: rgb(204, 191, 191);
    margin-right: 30px;
    border: none;
    height:40px;
    border-radius: 10px;
}
.nav-links .cart{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
}
.nav-links .cart span{
    padding-left: 5px;
}
.nav-links .drop-menu{
    margin-right: 10px;
    border:2px solid black;
    border-radius: 20px;
    width:180px;
    top:65px;
    position: absolute;
    line-height: 45px;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu{
    opacity:1;
    visibility: visible;
}
.nav-links .drop-menu{
    background-color: white;
}

.drop-menu li a{
    width:100%;
    display: block;
    padding: 0 0 0 10px;
    font-size: 16px;
     
}
.drop-menu li a:hover{
    color:crimson;
}
.header{
    text-align: center;
    margin-top: 100px;
}
.header .heading{
    font-size: 65px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header .p1{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}
.header .p2{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img1{
    margin: 60px;
    width:100%;
    height:600px;
    border-radius: 20px;
}
.numbers{
    display: flex;
}
.numbers .num1{
    margin-left:100px;
}
.numbers .num1 span {
    font-size:40px ;
}
.numbers .num1  p{
    font-size:20px;
    margin-left: -8px;
    margin-right: 150px;
}
.line{
    width:2px;
    height:80px;
    background-color: black;
}
.pages {
    position: relative;
    height:1600px;
}
 .page1{
    width:45%;
    margin-top:50px;
    position:sticky;
    top:10%;
}

 .page1 span{
    font-size: 40px;
    font-weight: bold;
     padding-top: 40px;
}
.page1 p{
    font-size: 25px;
    padding-top: 40px;
}
 .page1 button {
    width:150px;
    height:40px;
    background-color: rgb(247, 184, 68);
    border:none;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 18px;
}
.page2{
    width:700px;
    height: 300px;
    border: 3px solid black;
    border-radius: 40px;
    width:50%;
    float:right;
    margin-top: -200px;
}
.page2 ion-icon{
    width:60px;
    height: 60px;
    margin-left: 50px;
} 
.page2 span{
   font-size: 30px;
   padding:60px;
}
.page2 p{
    font-size: 20px;
    padding-left:30px;
    padding-top: 60px;
}
.page3{
    width:700px;
    height: 300px;
    border: 3px solid black;
    border-radius: 40px;
    float:right;
    width:50%;
    margin-top:70px;
    margin-left: 30px;
}
.page3 ion-icon{
    width:60px;
    height: 60px;
    margin-left: 50px;
} 
.page3 span{
   font-size: 30px;
   padding:60px;
}
.page3 p{
    font-size: 20px;
    padding-left:30px;
    padding-top: 60px;
}
.page4{
    width:700px;
    height: 300px;
    border: 3px solid black;
    border-radius: 40px;
    float:right;
    width:50%;
    margin-top:70px;
    margin-left: 30px;
}
.page4 ion-icon{
    width:60px;
    height: 60px;
    margin-left: 50px;
} 
.page4 span{
   font-size: 30px;
   padding:60px;
}
.page4 p{
    font-size: 20px;
    padding-left:30px;
    padding-top: 60px;
}
.page5{
    width:700px;
    height: 300px;
    border: 3px solid black;
    border-radius: 40px;
    float:right;
    width:50%;
    margin-top:70px;
    margin-left: 30px;
}
.page5 i{
    width:80px;
    height:80px;
    margin-left: 50px;
} 
.page5 span{
   font-size: 30px;
   padding:60px;
}
.page5 p{
    font-size: 20px;
    padding-left:30px;
    padding-top: 60px;
} 



video{
    width:100%;
    height:400px;
    margin-top: 50px;
}
.pipe{
    display: flex;
    flex-direction: column;
}
.pagination{
    background-color:orange;
    width:20px;
    height: 300px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 300px;
} 
.abc{
    background-color: black;
    height:350vh;
}

.abc span{
    font-size: 50px;
    color:white;
    margin-left:400px;
}
.abc h3{
     color:white;
     margin-left: 450px;   
}
.abc p{
    color:white;
    margin-top: 30px;
}
.sub-abc {
    width:500px;
    height:300px;
    margin-left: 40%;
    margin-top:30px;
}
.sub-abc span{
    font-size:30px;
    text-align: center;
    margin-left: 0;
}
.sub-abc p{
    font-size: 18px;
}
.abc button{
    margin-left: 600px;
    width:180px;
    height:60px;
    font-size: 20px;
    border:none;
    background-color: orange;
    border-radius: 20px;
    margin-top: 30px;
} 





.teachers{
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
}
.teachers h1{
    margin-left: 40px;
}
.teachers button{
    width:150px;
    height: 50px;
    background-color: aquamarine;
    border:none;
    border-radius: 10px;
    font-size: 22px;
}

.boxes{
    display:flex;
    gap:25px;
    margin:40px;
}
.boxes .box{
    width:400px;
    height:500px;
    border:2px solid black;
    border-radius: 10px;
}
.box img{
    width:370px;
    height:400px;
    margin: 10px;
}
.box p{
    text-align: center;
}
.box h1{
    text-align: center;
}
.today{
    width:100%;
    height:500px;
    display: flex;
    border-radius: 20px;
    background-color: orange;
}
 .get h1{
    padding-top: 50px;
    margin-left: 60px;
    font-size: 45px;
}
.get p{
    padding-top: 40px;
    padding-left: 70px;
    font-size: 20px;
}
.get button{
    border:none;
    border-radius: 10px;
    background-color: black;
    color:white;
    width:250px;
    height:60px;
    font-size: 18px;
    margin-top:30px;
    margin-left: 70px;
}
.today div{
    margin-left: 130px;
    margin-top: 45px;
}
.today div  img{
    width:300px;
    height:400px;
    margin-right: 20px;
    border-radius: 30px;
}



.footers{
    margin-left: 30px;
    display: flex;
    margin-top: 50px;
    padding-top: 100px;

 
}

.footer{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;

}
.foot1 img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 10px;
}
.foot2 h1{
    margin-left: 30px;
}
.foot3 p{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
}
.foot3 button{
    background-color:orangered;
    margin-right: 30px;
    border: none;
    width:220px;
    font-size: 20px;
    height:60px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 40px;
}
.foot3 hr{
margin-left:30px;
margin-top: 50px;
width:450px;
color: grey;
}
.links{
        color: white; 
        display: flex;
        column-gap: 60px;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
    }
    .list{
        display: flex;
        margin-left: 700px;
        column-gap: 40px;
        margin-top: -360px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .list1 li{
        list-style: none;
        font-size: 18px;
    }
    .list1 ul li a{
        text-decoration: none;
        color: white;
    }

    .list2 li{
        list-style: none;
    }
    .list2 ul li a{
        text-decoration: none;
        color: white;
    }

    .list3 li{
        list-style: none;
    }
    .list3 ul li a{
        text-decoration: none;
        color: white;
    }

    .list4 li{
        list-style: none;
    }
    .list4 ul li a{
        text-decoration: none;
        color: white;
    }
    
    .lines{
        height: 2px;
        width: 1250px;
        background-color: wheat;
        margin-top: 200px;
        margin-left: 30px;
    
    }
    .para{
        margin-top: 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }