*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(208, 230, 250);
    position: fixed;
    top:0;
    width:100%;
    z-index:999;
    height:65px;
    line-height:65px;
}
nav .wrapper{
    display: flex;
    max-width: 1250;
    padding:0 30px;
    margin:auto;
    justify-content: space-between;
}
.wrapper .nav-links{
    display: inline-flex;
}

.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding:9px 10px;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links li a:hover {
    font-size: 20px;
    color:blue;
}
.nav-links ion-icon{
    width:20px;
    height:20px;
}

.container{
    display: flex;
}
.container .logo img {
    width:60px;
    height:60px;
    border-radius: 50%;
}
.container .text{
    font-size: 25px;
    margin-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links .buy{
    background-color: rgb(204, 191, 191);
    margin-right: 30px;
    border: none;
    height:40px;
    border-radius: 10px;
}
.nav-links .cart{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
}
.nav-links .cart span{
    padding-left: 5px;
}
.nav-links .drop-menu{
    margin-right: 10px;
    border:1px solid black;
    width:180px;
    top:65px;
    position: absolute;
    line-height: 45px;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu{
    opacity:1;
    visibility: visible;
}
.drop-menu li a{
    width:100%;
    display: block;
    padding: 0 0 0 10px;
    font-size: 16px;
    background-color: white;
}
.drop-menu li a:hover{
    color:crimson;
}



.slider{
    background-color: black;
    width:35%;
    height:80px;
    border-radius: 60px;
    margin-left: 480px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
 .buttons{
    width:140px;
    height:50px;
    margin-top: 15px;
    text-align: center;
    margin-left: 10px;
    color:white;
    border-radius: 30px;
} 
.buttons h4{
    margin-top: 12px;
}
.buttons:hover{
    background-color: rgb(83, 83, 83);
    filter:blur(0.3px);
}


.buttons.active {
    background-color: white;
    color: black;
}





.talk{
    margin-top: 150px;
    width:40%;
    margin-left: 40px;
}
.talk h1{
    font-size: 75px;
}
.talk p{
    font-size: 35px;
    margin-top: 30px;
}
.talk span{
    font-size: 30px;
}
.box{
    margin-top: 30px;
}
.social {
    margin-left: 200px;
    margin-top: -50px;
}
.box ion-icon{
    width: 80px;
    height:80px;
    margin-left: 40px;
}
.contact{
    width:50%;
    height:750px;
    border: 2px solid black;
    float:right;
    margin-top: -460px;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    border-radius: 20px;
}
.contact input{
    padding:20px;
    width:600px;
    height:80px;
    margin-top: 30px;
    margin:20px;
    font-size: 20px;
    border-radius: 10px;
    border:1px solid grey;
}
.contact textarea{
    width:600px;
    height:150px;
    padding-top:10px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
}
.contact button{
    margin-top:40px;
    width:600px;
    height:50px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 18px;
    border:none;
    background-color: orange;
}
.thank-you {
        width:50%;
        height:100px;
        border: 2px solid black;
        float:right;
        margin-top: -450px;
        margin-left: 630px;
        border-radius: 20px;
        position: relative;
        display: none;
        
}
.thank-you .e{
    margin-top: 20px;
    margin-left: 20px;
    color:green;
}
.footers{
    margin-left: 30px;
    display: flex;
    margin-top: 50px;
    padding-top: 100px;

}

.footer{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin-top: 300px;

}
.foot1 img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 10px;
}
.foot2 h1{
    margin-left: 30px;
}
.foot3 p{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
}
.foot3 button{
    background-color:orangered;
    margin-right: 30px;
    border: none;
    width:220px;
    font-size: 20px;
    height:60px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 40px;
}
.foot3 hr{
margin-left:30px;
margin-top: 50px;
width:450px;
color: grey;
}
.links{
        color: white; 
        display: flex;
        column-gap: 60px;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
    }
    .list{
        display: flex;
        margin-left: 700px;
        column-gap: 40px;
        margin-top: -360px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .list1 li{
        list-style: none;
        font-size: 18px;
    }
    .list1 ul li a{
        text-decoration: none;
        color: white;
    }

    .list2 li{
        list-style: none;
    }
    .list2 ul li a{
        text-decoration: none;
        color: white;
    }

    .list3 li{
        list-style: none;
    }
    .list3 ul li a{
        text-decoration: none;
        color: white;
    }

    .list4 li{
        list-style: none;
    }
    .list4 ul li a{
        text-decoration: none;
        color: white;
    }
    
    .lines{
        height: 2px;
        width: 1250px;
        background-color: wheat;
        margin-top: 200px;
        margin-left: 30px;
    
    }
    .para{
        margin-top: 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }






    .heading2{
        margin-left: 500px;
        margin-top: 300px;
    }
    
    
    .heading2 p{
        margin-top: 20px;
        margin-left: 35px;
        font-size: 20px;
    }
    .accordion{
        margin: 70px auto;
        width: 600px;
        margin-left: 380px;
        border:2px solid black;
        padding:0px 30px;
        padding-left: 2px;
        border-radius:10px;
     }
    
     .accordion li{
    
        list-style: none;
        width: 100%;
        margin: 20px;
        padding: 10px;
        border-radius: 8px;
        background: #e3edf7;
        box-shadow: 6px 6px 10px -1px rgba(0,0, 0, 0.15),
                    -6px -6px 10px -10px rgba(255, 255, 255, 0.7);
     }
    
     .accordion li label{
        display: flex;
         align-items: center;
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer; 
     }
    
     label::before{
        margin-right: 10px;
        font-size: 24px;
        font-weight: 600;
        content: '+'; 
     }
    
     input[type="radio"]{
    
        display: none;
     }
    
     .accordion .content{
    
        color: #555;
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
     }
    
     .accordion input[type="radio"]:checked + label + .content{
    
            max-height: 400px;
            padding: 10px 10px 20px;
     }
    
     .accordion input[type="radio"]:checked + label::before{
    
        content: '-';
     } 



     .last-btn{
        width:200px;
        height:50px;
        margin-left: 560px;
        border:none;
        background-color: orange;
        font-size: 18px;
        border-radius: 20px;
     }