*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(208, 230, 250);
    position: fixed;
    top:0;
    width:100%;
    z-index:999;
    height:65px;
    line-height:65px;
}
nav .wrapper{
    display: flex;
    max-width: 1250;
    padding:0 30px;
    margin:auto;
    justify-content: space-between;
}
.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding:9px 15px;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links li a:hover {
    font-size: 20px;
    color:blue
}
.container{
    display: flex;
}
.container .logo img {
    width:60px;
    height:60px;
    border-radius: 50%;
}
.container .text{
    font-size: 25px;
    margin-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links .buy{
    background-color: rgb(204, 191, 191);
    margin-right: 30px;
    border: none;
    height:40px;
    border-radius: 10px;
}
.nav-links .cart{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
}
.nav-links .cart span{
    padding-left: 5px;
}
.nav-links .drop-menu{
    margin-right: 10px;
    border:2px solid black;
    border-radius: 20px;
    width:180px;
    top:65px;
    position: absolute;
    line-height: 45px;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu{
    opacity:1;
    visibility: visible;
}
.nav-links .drop-menu{
    background-color: white;
}

.drop-menu li a{
    width:100%;
    display: block;
    padding: 0 0 0 10px;
    font-size: 16px;
     
}
.drop-menu li a:hover{
    color:crimson;
}

h1{
    font-size: 65px;
    text-align: center;
    margin-top: 150px;
}
.slider{
    background-color: black;
    width:48%;
    height:80px;
    border-radius: 60px;
    margin-left: 360px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
 .buttons{
    width:160px;
    height:50px;
    margin-top: 15px;
    text-align: center;
    margin-left: 10px;
    color:white;
    border-radius: 30px;
} 
.buttons h4{
    margin-top: 12px;
}
.buttons:hover{
    background-color: rgb(83, 83, 83);
    filter:blur(0.3px);
}


.buttons.active {
    background-color: white;
    color: black;
}
.contain{
    margin-top:100px;
    padding-left: 10px;
}
.con1{
    width:48%;
    height:350px;
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
}

.con1 .icon-box{
    width:100px;
    height:100px;
    border-radius: 20px;
    background-color: grey;
}
.con1 .p-box{
    width:450px;
    height:100px;
    margin-left: 110px;
    margin-top: -100px;
    border-radius: 20px;
    
}
.con1 .icon-box img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
.con1 .p-box p{
    font-size: 20px;
    color:grey;
    margin-left: 10px;
    margin-top:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con1 .p-box span{
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.person{
    display: flex;
    margin-top: 20px;
}
.person span {
    width:30px;
    height:30px;
    margin-right: 10px;
}
.person h4{
    font-size: 18px;
    margin-top: 5px;
}
.cost{
    display: flex;
    margin-top: -27px;
    margin-left: 150px;
}
.cost span {
    width:30px;
    height:30px;
}
.cost h4{
    font-size: 18px;
    margin-top: 5px;
}
.clock{
    display: flex;
    margin-top: -27px;
    margin-left: 280px;
}
.clock span {
    width:30px;
    height:30px;
}
.clock h4{
    font-size: 18px;
    margin-top:2px;
}
.certificate{
    display: flex;
    margin-top: -27px;
    margin-left: 370px;
}
.certificate span {
    width:30px;
    height:30px;
}
.certificate h4{
    font-size: 18px;
}
.con2{
    width:48%;
    height:350px;
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
    float: right;
    margin-top: -350px;
}

.con2 .icon-box{
    width:100px;
    height:100px;
    border-radius: 20px;
    background-color: grey;
}
.con2 .p-box{
    width:450px;
    height:100px;
    margin-left: 110px;
    margin-top: -100px;
    border-radius: 20px;
    
}
.con2 .icon-box img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
.con2 .p-box p{
    font-size: 20px;
    color:grey;
    margin-left: 10px;
    margin-top:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con2 .p-box span{
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.contain2{
    margin-top:100px;
    padding-left: 10px;
}
.con1{
    width:48%;
    height:350px;
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
}

.con1 .icon-box{
    width:100px;
    height:100px;
    border-radius: 20px;
    background-color: grey;
}
.con1 .p-box{
    width:450px;
    height:100px;
    margin-left: 110px;
    margin-top: -100px;
    border-radius: 20px;
    
}
.con1 .icon-box img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
.con1 .p-box p{
    font-size: 20px;
    color:grey;
    margin-left: 10px;
    margin-top:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con1 .p-box span{
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.person{
    display: flex;
    margin-top: 20px;
}
.person span {
    width:30px;
    height:30px;
    margin-right: 10px;
}
.person h4{
    font-size: 18px;
    margin-top: 5px;
}
.cost{
    display: flex;
    margin-top: -27px;
    margin-left: 150px;
}
.cost span {
    width:30px;
    height:30px;
}
.cost h4{
    font-size: 18px;
    margin-top: 5px;
}
.clock{
    display: flex;
    margin-top: -27px;
    margin-left: 280px;
}
.clock span {
    width:30px;
    height:30px;
}
.clock h4{
    font-size: 18px;
    margin-top:2px;
}
.certificate{
    display: flex;
    margin-top: -27px;
    margin-left: 370px;
}
.certificate span {
    width:30px;
    height:30px;
}
.certificate h4{
    font-size: 18px;
}
.con2{
    width:48%;
    height:350px;
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
    float: right;
    margin-top: -350px;
}

.con2 .icon-box{
    width:100px;
    height:100px;
    border-radius: 20px;
    background-color: grey;
}
.con2 .p-box{
    width:450px;
    height:100px;
    margin-left: 110px;
    margin-top: -100px;
    border-radius: 20px;
    
}
.con2 .icon-box img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
.con2 .p-box p{
    font-size: 20px;
    color:grey;
    margin-left: 10px;
    margin-top:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con2 .p-box span{
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contain3{
    margin-top:100px;
    padding-left: 10px;
}
.con1{
    width:48%;
    height:350px;
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
}

.con1 .icon-box{
    width:100px;
    height:100px;
    border-radius: 20px;
    background-color: grey;
}
.con1 .p-box{
    width:450px;
    height:100px;
    margin-left: 110px;
    margin-top: -100px;
    border-radius: 20px;
    
}
.con1 .icon-box img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
.con1 .p-box p{
    font-size: 20px;
    color:grey;
    margin-left: 10px;
    margin-top:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con1 .p-box span{
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.person{
    display: flex;
    margin-top: 20px;
}
.person span {
    width:30px;
    height:30px;
    margin-right: 10px;
}
.person h4{
    font-size: 18px;
    margin-top: 5px;
}
.cost{
    display: flex;
    margin-top: -27px;
    margin-left: 150px;
}
.cost span {
    width:30px;
    height:30px;
}
.cost h4{
    font-size: 18px;
    margin-top: 5px;
}
.clock{
    display: flex;
    margin-top: -27px;
    margin-left: 280px;
}
.clock span {
    width:30px;
    height:30px;
}
.clock h4{
    font-size: 18px;
    margin-top:2px;
}
.certificate{
    display: flex;
    margin-top: -27px;
    margin-left: 370px;
}
.certificate span {
    width:30px;
    height:30px;
}
.certificate h4{
    font-size: 18px;
}
.con2{
    width:48%;
    height:350px;
    border:2px solid black;
    border-radius: 20px;
    padding: 30px;
    float: right;
    margin-top: -350px;
}

.con2 .icon-box{
    width:100px;
    height:100px;
    border-radius: 20px;
    background-color: grey;
}
.con2 .p-box{
    width:450px;
    height:100px;
    margin-left: 110px;
    margin-top: -100px;
    border-radius: 20px;
    
}
.con2 .icon-box img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 25px;
}
.con2 .p-box p{
    font-size: 20px;
    color:grey;
    margin-left: 10px;
    margin-top:10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.con2 .p-box span{
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hr1{
    margin-top: 40px;
    width:90%;
    margin-left: 30px;
    border:2px solid black;
}
.beginner p{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.beginner .inner-box {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}
.inner-box .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.beginner .inner-box2 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 430px;
    margin-top:-300px;
}
.inner-box2 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box2 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box2 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box2 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.beginner .inner-box3 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 830px;
    margin-top:-300px;
}
.inner-box3 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box3 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box3 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box3 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.beginner .inner-box4 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}
.inner-box4 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box4 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box4 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box4 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}

.hr2{
    margin-top: 40px;
    width:90%;
    margin-left: 30px;
    border:2px solid black;
}



.intermediate p{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.intermediate .inner-box {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}
.inner-box .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.intermediate .inner-box2 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 430px;
    margin-top:-300px;
}
.inner-box2 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box2 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box2 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box2 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.intermediate .inner-box3 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 830px;
    margin-top:-300px;
}
.inner-box3 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box3 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box3 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box3 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}

.hr3{
    margin-top: 40px;
    width:90%;
    margin-left: 30px;
    border:2px solid black;
}




.advance p{
    margin-top: 50px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.advance .inner-box {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}
.inner-box .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.advance .inner-box2 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 430px;
    margin-top:-300px;
}
.inner-box2 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box2 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box2 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box2 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}
.advance .inner-box3 {
    width:350px;
    height:300px;
    border:1px solid black;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 830px;
    margin-top:-300px;
}
.inner-box3 .inner{
    width:100px;
    height:100px;
    border:2px solid black;
    margin-left:120px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
}
.inner-box3 .inner img{
    width:40px;
    height:40px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}
.inner-box3 p{
    font-size: 20px;
    margin-left: 120px;
    color:gray;
}
.inner-box3 span{
    font-size: 18px;
    margin-left:60px;
    font-size: 20px;
}





.footers{
    margin-left: 30px;
    display: flex;
    margin-top: 50px;
    padding-top: 100px;

 
}

.footer{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;

}
.foot1 img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 10px;
}
.foot2 h1{
    margin-left: 30px;
    margin-top: -18px;
}
.foot3 p{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
}
.foot3 button{
    background-color:orange;
    margin-right: 30px;
    border: none;
    width:220px;
    font-size: 20px;
    height:60px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.foot3 button:hover{
    transform: scale(1.1);
}
.foot3 hr{
margin-left:30px;
margin-top: 50px;
width:450px;
color: grey;
}
.links{
        color: white; 
        display: flex;
        column-gap: 60px;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
    }
    .list{
        display: flex;
        margin-left: 700px;
        column-gap: 40px;
        margin-top: -360px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .list1 li{
        list-style: none;
        font-size: 18px;
    }
    .list1 ul li a{
        text-decoration: none;
        color: white;
    }

    .list2 li{
        list-style: none;
    }
    .list2 ul li a{
        text-decoration: none;
        color: white;
    }

    .list3 li{
        list-style: none;
    }
    .list3 ul li a{
        text-decoration: none;
        color: white;
    }

    .list4 li{
        list-style: none;
    }
    .list4 ul li a{
        text-decoration: none;
        color: white;
    }
    
    .lines{
        height: 2px;
        width: 1250px;
        background-color: wheat;
        margin-top: 200px;
        margin-left: 30px;
    
    }
    .para{
        margin-top: 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }





    .buttons a{
        text-decoration: none;
    }