*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 4000px;
    width: 100%;
    background-color: rgb(214, 198, 175);
    font-family: sans-serif;
}


nav {
    background-color: rgb(208, 230, 250);
    position: fixed;
    top:0;
    width:100%;
    z-index:999;
    height:65px;
    line-height:65px;
}
nav .wrapper{
    display: flex;
    max-width: 1250;
    padding:0 30px;
    margin:auto;
    justify-content: space-between;
}
.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding:9px 15px;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-links li a:hover {
    font-size: 20px;
    color:blue
}
.container{
    display: flex;
}
.container .logo img {
    width:60px;
    height:60px;
    border-radius: 50%;
}
.container .text{
    font-size: 25px;
    margin-left: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links .buy{
    background-color: rgb(204, 191, 191);
    margin-right: 30px;
    border: none;
    height:40px;
    border-radius: 10px;
}
.nav-links .cart{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
}
.nav-links .cart span{
    padding-left: 5px;
}
.nav-links .drop-menu{
    margin-right: 10px;
    border:2px solid black;
    border-radius: 20px;
    width:180px;
    top:65px;
    position: absolute;
    line-height: 45px;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu{
    opacity:1;
    visibility: visible;
}
.nav-links .drop-menu{
    background-color: white;
}

.drop-menu li a{
    width:100%;
    display: block;
    padding: 0 0 0 10px;
    font-size: 16px;
     
}
.drop-menu li a:hover{
    color:crimson;
}
.container1{
margin-top: 150px;
text-align: center;
}
.container1 h1{
    font-size: 70px;
}
.container1 p{
    font-size: 30px;
    margin-top: 50px;

}
.mains1{
    height: 500px;
    width: 1100px;
    background-color: white;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 70px;
}
.mains1 img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
}
.main2{
    margin-top: 50px;
    margin-left: 110px;
    font-size: 40px;
    display: flex;
    column-gap: 30px;
}
.matter1{
    margin-left: 500px;
    margin-top: -380px;
}
.matter1 h6{
    font-size: 15px;
}
.matter1 h1{
    margin-top: 30px;
}
.matter1 hr{
    margin-top: 20px;
    padding: 0 30px;
    border: solid
}
.matter1 p{
    margin-top: 30px;
}
.matter1 button{
    margin-top: 30px;
    height: 40px;
    width: 160px;
    font-size: 20px;
    border-radius: 20px;
    border: 1;
}
.mains2{
    height: 500px;
    width: 1100px;
    background-color: white;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 30px;
}
.mains2 img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
}
.matter2{
    margin-left: 500px;
    margin-top: -380px;
}
.matter2 h6{
    font-size: 15px;
}
.matter2 h1{
    margin-top: 30px;
}
.matter2 hr{
    margin-top: 20px;
    padding: 0 30px;
    border: solid
}
.matter2 p{
    margin-top: 30px;
}
.matter2 button{
    margin-top: 30px;
    height: 40px;
    width: 160px;
    font-size: 20px;
    border-radius: 20px;
    border: 1;
}
.mains3{
    height: 500px;
    width: 1100px;
    background-color: white;
    border: 2px solid;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 30px;
}
.mains3 img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 50px;
}
.matter3{
    margin-left: 500px;
    margin-top: -380px;
}
.matter3 h6{
    font-size: 15px;
}
.matter3 h1{
    margin-top: 30px;
}
.matter3 hr{
    margin-top: 20px;
    padding: 0 30px;
    border: solid
}
.matter3 p{
    margin-top: 30px;
}
.matter3 button{
    margin-top: 30px;
    height: 40px;
    width: 160px;
    font-size: 20px;
    border-radius: 20px;
    border: 1;
}
.header{
    margin-top: 200px;
}
.header h1{
    text-align: center;
    font-size: 45px;
}
.container2{
    margin-top: 60px;
    display: flex;
    column-gap: 20px;
}
.contain1{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    margin: 0 20px;

}

.contain1 span{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
.contain1 h1{
    margin-left: 30px;
    margin-top: 40px;
}
.contain1 p{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 21px;
}
.contain2{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;

}

.contain2 span{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
.contain2 h1{
    margin-left: 30px;
    margin-top: 40px;
}
.contain2 p{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 21px;
}


.contain3{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
}
.contain3 span{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
.contain3 h1{
    margin-left: 30px;
    margin-top: 40px;
}
.contain3 p{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 21px;
}
.container3{
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
    
}

.contain4{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    margin: 0 20px;
}
.contain4 span{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
.contain4 h1{
    margin-left: 30px;
    margin-top: 40px;
}
.contain4 p{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 21px;
}
.contain5{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
}
.contain5 span{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
.contain5 h1{
    margin-left: 30px;
    margin-top: 40px;
}
.contain5 p{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 21px;
}

.contain6{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
}
.contain6 span{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 40px;
}
.contain6 h1{
    margin-left: 30px;
    margin-top: 40px;
}
.contain6 p{
    margin-left: 30px;
    margin-top: 40px;
    font-size: 21px;
}




.footers{
    margin-left: 30px;
    display: flex;
    margin-top: 50px;
    padding-top: 100px;

 
}

.footer{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: sans-serif;

}
.foot1 img{
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-top: -5px;
    margin-left: 10px;
}
.foot2 h1{
    margin-left: 30px;
}
.foot3 p{
    margin-left: 50px;
    margin-top: 40px;
    font-size: 20px;
}
.foot3 button{
    background-color:orangered;
    margin-right: 30px;
    border: none;
    width:220px;
    font-size: 20px;
    height:60px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 40px;
}
.foot3 hr{
margin-left:30px;
margin-top: 50px;
width:450px;
color: grey;
}
.links{
        color: white; 
        display: flex;
        column-gap: 60px;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
    }
    .list{
        display: flex;
        margin-left: 700px;
        column-gap: 40px;
        margin-top: -360px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .list1 li{
        list-style: none;
        font-size: 18px;
    }
    .list1 ul li a{
        text-decoration: none;
        color: white;
    }

    .list2 li{
        list-style: none;
    }
    .list2 ul li a{
        text-decoration: none;
        color: white;
    }

    .list3 li{
        list-style: none;
    }
    .list3 ul li a{
        text-decoration: none;
        color: white;
    }

    .list4 li{
        list-style: none;
    }
    .list4 ul li a{
        text-decoration: none;
        color: white;
    }
    
    .lines{
        height: 2px;
        width: 1250px;
        background-color: wheat;
        margin-top: 200px;
        margin-left: 30px;
    
    }
    .para{
        margin-top: 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }